<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyFavLinq.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>TitansProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TitansSwiftProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F723B11F195AB68A00DB5FFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F723B129195AB68A00DB5FFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F723B18A195ACEE700DB5FFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F723B194195ACEE800DB5FFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F723B1B2195AD2A000DB5FFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F723B1BC195AD2A100DB5FFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F727F7901953E63800BDB5F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F727F7A61953E63800BDB5F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F773D2EB19580D83004193EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F773D2FC19580D84004193EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
